pipeline/API Master.json
{
	"name": "API Master",
	"properties": {
		"description": "Wrapper Pipeline that Extracts, Loads and Transforms data from a API data source",
		"activities": [
			{
				"name": "Get Ingest Instances",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ELT].[GetIngestDefinition]",
						"storedProcedureParameters": {
							"MaxIngestInstance": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.MaxIngestInstance",
									"type": "Expression"
								}
							},
							"SourceSystemName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceSystemName",
									"type": "Expression"
								}
							},
							"StreamName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StreamName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlDB_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Ingest Instance",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Ingest Instances",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Ingest Instances').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "IngestREST",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Ingest API",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"IngestID": {
										"value": "@item().IngestID",
										"type": "Expression"
									},
									"SourceSystemName": {
										"value": "@item().SourceSystemName",
										"type": "Expression"
									},
									"StreamName": {
										"value": "@item().StreamName",
										"type": "Expression"
									},
									"Backend": {
										"value": "@item().Backend",
										"type": "Expression"
									},
									"EntityName": {
										"value": "@item().EntityName",
										"type": "Expression"
									},
									"WatermarkName": {
										"value": "@item().WatermarkName",
										"type": "Expression"
									},
									"LastWatermarkDate": {
										"value": "@item().LastWatermarkDate",
										"type": "Expression"
									},
									"DataFromTimestamp": {
										"value": "@item().DataFromTimestamp",
										"type": "Expression"
									},
									"DataToTimestamp": {
										"value": "@item().DataToTimestamp",
										"type": "Expression"
									},
									"LastWatermarkNumber": {
										"value": "@item().LastWatermarkNumber",
										"type": "Expression"
									},
									"DataFromNumber": {
										"value": "@item().DataFromNumber",
										"type": "Expression"
									},
									"DataToNumber": {
										"value": "@item().DataToNumber",
										"type": "Expression"
									},
									"DataFormat": {
										"value": "@item().DataFormat",
										"type": "Expression"
									},
									"SourceStructure": {
										"value": "@item().SourceStructure",
										"type": "Expression"
									},
									"MaxIntervalMinutes": {
										"value": "@item().MaxIntervalMinutes",
										"type": "Expression"
									},
									"MaxIntervalNumber": {
										"value": "@item().MaxIntervalNumber",
										"type": "Expression"
									},
									"DataMapping": {
										"value": "@item().DataMapping",
										"type": "Expression"
									},
									"RunSequence": {
										"value": "@item().RunSequence",
										"type": "Expression"
									},
									"ActiveFlag": {
										"value": "@item().ActiveFlag",
										"type": "Expression"
									},
									"L1TransformationReqdFlag": {
										"value": "@item().L1TransformationReqdFlag",
										"type": "Expression"
									},
									"L2TransformationReqdFlag": {
										"value": "@item().L2TransformationReqdFlag",
										"type": "Expression"
									},
									"DelayL1TransformationFlag": {
										"value": "@item().DelayL1TransformationFlag",
										"type": "Expression"
									},
									"DelayL2TransformationFlag": {
										"value": "@item().DelayL2TransformationFlag",
										"type": "Expression"
									},
									"DestinationRawFileSystem": {
										"value": "@item().DestinationRawFileSystem",
										"type": "Expression"
									},
									"DestinationRawFolder": {
										"value": "@item().DestinationRawFolder",
										"type": "Expression"
									},
									"DestinationRawFile": {
										"value": "@item().DestinationRawFile",
										"type": "Expression"
									},
									"SourceQuery": {
										"value": "@item().SourceQuery",
										"type": "Expression"
									},
									"StatQuery": {
										"value": "@item().StatQuery",
										"type": "Expression"
									},
									"ReloadFlag": {
										"value": "@item().ReloadFlag",
										"type": "Expression"
									},
									"ADFPipelineRunID": {
										"value": "@item().ADFPipelineRunID",
										"type": "Expression"
									},
									"KeyVaultSecretBaseURL": {
										"value": "@pipeline().parameters.KeyVaultSecretBaseURL",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Get-L1-Transform",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach Ingest Instance",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L1]",
						"storedProcedureParameters": {
							"DelayL1TransformationFlag": {
								"type": "Int32",
								"value": "0"
							},
							"SourceSystemName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceSystemName",
									"type": "Expression"
								}
							},
							"StreamName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StreamName",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlDB_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "L1-Transform",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get-L1-Transform",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get-L1-Transform').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check-L1-Instance-Status",
							"description": "Check the current L1 Instance is not running or completed.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L1]",
									"storedProcedureParameters": {
										"L1TransformInstanceId": {
											"type": "Int32",
											"value": {
												"value": "@item().L1TransformInstanceID",
												"type": "Expression"
											}
										},
										"SourceSystemName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.SourceSystemName",
												"type": "Expression"
											}
										},
										"StreamName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.StreamName",
												"type": "Expression"
											}
										}
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ControlDB_Dataset",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "If-L1-Transform-Pipeline",
							"description": "If Lookup returns a row continue",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Check-L1-Instance-Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(equals(activity('Check-L1-Instance-Status').output?.firstRow, null)) ",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Generic-L1Transform",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Generic-L1-Transform",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"L1TransformInstanceID": {
													"value": "@item().L1TransformInstanceID",
													"type": "Expression"
												},
												"L1TransformID": {
													"value": "@item().L1TransformID",
													"type": "Expression"
												},
												"IngestID": {
													"value": "@item().IngestID",
													"type": "Expression"
												},
												"MaxRetries": {
													"value": "@item().MaxRetries",
													"type": "Expression"
												},
												"NotebookParameters": {
													"value": "@item().NotebookParameters",
													"type": "Expression"
												},
												"NotebookName": {
													"value": "@item().NotebookName",
													"type": "Expression"
												},
												"NotebookPath": {
													"value": "@item().NotebookPath",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Get-L2-Transform-Raw",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach Ingest Instance",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L2]",
						"storedProcedureParameters": {
							"SourceSystemName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceSystemName",
									"type": "Expression"
								}
							},
							"StreamName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StreamName",
									"type": "Expression"
								}
							},
							"DelayL2TransformationFlag": {
								"type": "Int32",
								"value": "0"
							},
							"InputType": {
								"type": "String",
								"value": "Raw"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlDB_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "L2-Transform-Raw",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get-L2-Transform-Raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get-L2-Transform-Raw').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check-L2-Instance-Status-Raw",
							"description": "Check the current L2 Instance is not running or completed.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L2]",
									"storedProcedureParameters": {
										"L2TransformInstanceId": {
											"type": "Int32",
											"value": {
												"value": "@item().L2TransformInstanceID",
												"type": "Expression"
											}
										},
										"SourceSystemName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.SourceSystemName",
												"type": "Expression"
											}
										},
										"StreamName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.StreamName",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ControlDB_Dataset",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "If-L2-Transform-Pipeline",
							"description": "If Lookup returns a row continue",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Check-L2-Instance-Status-Raw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(equals(activity('Check-L2-Instance-Status-Raw').output?.firstRow, null)) ",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Generic-L2-Transform",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Generic-L2-Transform",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"L2TransformInstanceID": {
													"value": "@item().L2TransformInstanceID",
													"type": "Expression"
												},
												"L2TransformID": {
													"value": "@item().L2TransformID",
													"type": "Expression"
												},
												"IngestID": {
													"value": "@item().IngestID",
													"type": "Expression"
												},
												"L1TransformID": {
													"value": "@item().L1TransformID",
													"type": "Expression"
												},
												"NotebookName": {
													"value": "@item().NotebookName",
													"type": "Expression"
												},
												"NotebookPath": {
													"value": "@item().NotebookPath",
													"type": "Expression"
												},
												"ReRunL2TransformFlag": {
													"value": "@item().ReRunL2TransformFlag",
													"type": "Expression"
												},
												"MaxRetries": {
													"value": "@item().MaxRetries",
													"type": "Expression"
												},
												"NotebookParameters": {
													"value": "@item().NotebookParameters",
													"type": "Expression"
												},
												"DataFromNumber": {
													"value": "@item().DataFromNumber",
													"type": "Expression"
												},
												"DataToNumber": {
													"value": "@item().DataToNumber",
													"type": "Expression"
												},
												"DataFromTimestamp": {
													"value": "@item().DataFromTimestamp",
													"type": "Expression"
												},
												"DataToTimestamp": {
													"value": "@item().DataToTimestamp",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Get-L2-Transform-Curated",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "L1-Transform",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L2]",
						"storedProcedureParameters": {
							"SourceSystemName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceSystemName",
									"type": "Expression"
								}
							},
							"StreamName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StreamName",
									"type": "Expression"
								}
							},
							"DelayL2TransformationFlag": {
								"type": "Int16",
								"value": "0"
							},
							"InputType": {
								"type": "String",
								"value": "Curated"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlDB_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "L2-Transform-Curated",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get-L2-Transform-Curated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get-L2-Transform-Curated').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check-L2-Instance-Status-Curated",
							"description": "Check the current L2 Instance is not running or completed.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L2]",
									"storedProcedureParameters": {
										"L2TransformInstanceId": {
											"type": "Int32",
											"value": {
												"value": "@item().L2TransformInstanceID",
												"type": "Expression"
											}
										},
										"SourceSystemName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.SourceSystemName",
												"type": "Expression"
											}
										},
										"StreamName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.StreamName",
												"type": "Expression"
											}
										}
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ControlDB_Dataset",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "If-L2-Transform-Pipeline-Curated",
							"description": "If Lookup returns a row continue",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Check-L2-Instance-Status-Curated",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(equals(activity('Check-L2-Instance-Status-Curated').output?.firstRow, null)) ",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Generic-L2Transform-Curated",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Generic-L2-Transform",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"L2TransformInstanceID": {
													"value": "@item().L2TransformInstanceID",
													"type": "Expression"
												},
												"L2TransformID": {
													"value": "@item().L2TransformID",
													"type": "Expression"
												},
												"IngestID": {
													"value": "@item().IngestID",
													"type": "Expression"
												},
												"L1TransformID": {
													"value": "@item().L1TransformID",
													"type": "Expression"
												},
												"NotebookName": {
													"value": "@item().NotebookName",
													"type": "Expression"
												},
												"NotebookPath": {
													"value": "@item().NotebookPath",
													"type": "Expression"
												},
												"ReRunL2TransformFlag": {
													"value": "@item().ReRunL2TransformFlag",
													"type": "Expression"
												},
												"MaxRetries": {
													"value": "@item().MaxRetries",
													"type": "Expression"
												},
												"NotebookParameters": {
													"value": "@item().NotebookParameters",
													"type": "Expression"
												},
												"DataFromNumber": {
													"value": "@item().DataFromNumber",
													"type": "Expression"
												},
												"DataToNumber": {
													"value": "@item().DataToNumber",
													"type": "Expression"
												},
												"DataFromTimestamp": {
													"value": "@item().DataFromTimestamp",
													"type": "Expression"
												},
												"DataToTimestamp": {
													"value": "@item().DataToTimestamp",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Get-L2-Transform-DW",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "L1-Transform",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L2]",
						"storedProcedureParameters": {
							"SourceSystemName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceSystemName",
									"type": "Expression"
								}
							},
							"StreamName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StreamName",
									"type": "Expression"
								}
							},
							"DelayL2TransformationFlag": {
								"type": "Int16",
								"value": "0"
							},
							"InputType": {
								"type": "String",
								"value": "Datawarehouse"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlDB_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "L2-Transform-DW",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get-L2-Transform-DW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get-L2-Transform-DW').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check-L2-Instance-Status-DW",
							"description": "Check the current L2 Instance is not running or completed.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L2]",
									"storedProcedureParameters": {
										"L2TransformInstanceId": {
											"type": "Int32",
											"value": {
												"value": "@item().L2TransformInstanceID",
												"type": "Expression"
											}
										},
										"SourceSystemName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.SourceSystemName",
												"type": "Expression"
											}
										},
										"StreamName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.StreamName",
												"type": "Expression"
											}
										}
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ControlDB_Dataset",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "If-L2-Transform-Pipeline-DW",
							"description": "If Lookup returns a row continue",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Check-L2-Instance-Status-DW",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(equals(activity('Check-L2-Instance-Status-DW').output?.firstRow, null)) ",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Generic-L2Transform-DW",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Generic-L2-Transform",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"L2TransformInstanceID": {
													"value": "@item().L2TransformInstanceID",
													"type": "Expression"
												},
												"L2TransformID": {
													"value": "@item().L2TransformID",
													"type": "Expression"
												},
												"IngestID": {
													"value": "@item().IngestID",
													"type": "Expression"
												},
												"L1TransformID": {
													"value": "@item().L1TransformID",
													"type": "Expression"
												},
												"NotebookName": {
													"value": "@item().NotebookName",
													"type": "Expression"
												},
												"NotebookPath": {
													"value": "@item().NotebookPath",
													"type": "Expression"
												},
												"ReRunL2TransformFlag": {
													"value": "@item().ReRunL2TransformFlag",
													"type": "Expression"
												},
												"MaxRetries": {
													"value": "@item().MaxRetries",
													"type": "Expression"
												},
												"NotebookParameters": {
													"value": "@item().NotebookParameters",
													"type": "Expression"
												},
												"DataFromNumber": {
													"value": "@item().DataFromNumber",
													"type": "Expression"
												},
												"DataToNumber": {
													"value": "@item().DataToNumber",
													"type": "Expression"
												},
												"DataFromTimestamp": {
													"value": "@item().DataFromTimestamp",
													"type": "Expression"
												},
												"DataToTimestamp": {
													"value": "@item().DataToTimestamp",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceSystemName": {
				"type": "string",
				"defaultValue": "Open Weather API"
			},
			"StreamName": {
				"type": "string",
				"defaultValue": "%"
			},
			"MaxIngestInstance": {
				"type": "string",
				"defaultValue": "20"
			},
			"KeyVaultSecretBaseURL": {
				"type": "string",
				"defaultValue": "OpenWeather-BaseURL"
			}
		},
		"folder": {
			"name": "REST API Pipelines"
		},
		"annotations": []
	}
}