pipeline/DropFileTest.json
{
	"name": "DropFileTest",
	"properties": {
		"activities": [
			{
				"name": "setSourceSystemName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varSourceSystemName",
					"value": {
						"value": "@{pipeline().parameters.PipelineParamaters.SourceFileDropFile}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "setSourceSystemName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varFinal",
					"value": {
						"value": "@{json(variables('varSourceSystemName')).value}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"PipelineParamaters": {
				"type": "object"
			}
		},
		"variables": {
			"varSourceSystemName": {
				"type": "String"
			},
			"varFinal": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Sandbox"
		},
		"annotations": []
	}
}