pipeline/FileDrop-Ingest.json
{
	"name": "FileDrop-Ingest",
	"properties": {
		"activities": [
			{
				"name": "Insert-IngestInstance",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set-ADFIngestPipelineRunID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ELT].[InsertIngestInstance]",
					"storedProcedureParameters": {
						"ADFPipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"DestinationRawFile": {
							"value": {
								"value": "@pipeline().parameters.SourceFileDropFile",
								"type": "Expression"
							},
							"type": "String"
						},
						"DestinationRawFileSystem": {
							"value": {
								"value": "@pipeline().parameters.DestinationRawFileSystem",
								"type": "Expression"
							},
							"type": "String"
						},
						"DestinationRawFolder": {
							"value": {
								"value": "@pipeline().parameters.DestinationRawFolder",
								"type": "Expression"
							},
							"type": "String"
						},
						"IngestID": {
							"value": {
								"value": "@pipeline().parameters.IngestID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ReloadFlag": {
							"value": {
								"value": "@pipeline().parameters.ReloadFlag",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"SourceFileDropFile": {
							"value": {
								"value": "@pipeline().parameters.SourceFileDropFile",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceFileDropFileSystem": {
							"value": {
								"value": "@pipeline().parameters.SourceFileDropFileSystem",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceFileDropFolder": {
							"value": {
								"value": "@pipeline().parameters.SourceFileDropFolder",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ControlDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get-TransformDefinition-L1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "If JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "If TXT or any flat-file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ELT].[GetTransformDefinition_L1]",
						"storedProcedureParameters": {
							"WatermarkDate": {
								"type": "DateTime",
								"value": null
							},
							"IngestID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.IngestID",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlDB_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get-TransformDefinition-L2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach-TransformDefinition-L1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ELT].[GetTransformDefinition_L2]",
						"storedProcedureParameters": {
							"WatermarkDate": {
								"type": "DateTime",
								"value": null
							},
							"IngestID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.IngestID",
									"type": "Expression"
								}
							},
							"InputType": {
								"type": "String",
								"value": "Raw"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlDB_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If JSON",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Insert-IngestInstance",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(toLower(pipeline().parameters.DataFormat),'json')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy-JSON-FileDrop-RawZone",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DropZone_JSON",
									"type": "DatasetReference",
									"parameters": {
										"FileSystem": {
											"value": "@pipeline().parameters.SourceFileDropFileSystem",
											"type": "Expression"
										},
										"Folder": {
											"value": "@pipeline().parameters.SourceFileDropFolder",
											"type": "Expression"
										},
										"File": {
											"value": "@pipeline().parameters.SourceFileDropFile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Bronze_JSON",
									"type": "DatasetReference",
									"parameters": {
										"FileSystem": {
											"value": "@pipeline().parameters.DestinationRawFileSystem",
											"type": "Expression"
										},
										"Folder": {
											"value": "@pipeline().parameters.DestinationRawFolder",
											"type": "Expression"
										},
										"File": {
											"value": "@pipeline().parameters.SourceFileDropFile",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update-Success-IngestInstance-JSON",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy-JSON-FileDrop-RawZone",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ELT].[UpdateIngestInstance]",
								"storedProcedureParameters": {
									"ADFIngestPipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"IngestStatus": {
										"value": "Success",
										"type": "String"
									},
									"ReloadFlag": {
										"value": {
											"value": "@if(equals(pipeline().parameters.ReloadFlag,true),1,0)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"SourceCount": {
										"value": {
											"value": "@activity('Copy-JSON-FileDrop-RawZone').output.filesRead",
											"type": "Expression"
										}
									},
									"IngestCount": {
										"value": {
											"value": "@activity('Copy-JSON-FileDrop-RawZone').output.filesWritten",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update-Failure-IngestInstance-JSON",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy-JSON-FileDrop-RawZone",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ELT].[UpdateIngestInstance]",
								"storedProcedureParameters": {
									"ADFIngestPipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"IngestStatus": {
										"value": "Failure",
										"type": "String"
									},
									"ReloadFlag": {
										"value": {
											"value": "@if(equals(pipeline().parameters.ReloadFlag,true),1,0)",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update-Success-IngestDefinition-JSON",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Update-Success-IngestInstance-JSON",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ELT].[UpdateIngestDefinition]",
								"storedProcedureParameters": {
									"IngestID": {
										"value": {
											"value": "@pipeline().parameters.IngestID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"IngestStatus": {
										"value": "Success",
										"type": "String"
									},
									"ReloadFlag": {
										"value": {
											"value": "@pipeline().parameters.ReloadFlag",
											"type": "Expression"
										},
										"type": "Boolean"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update-Failure-IngestDefinition-JSON",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Update-Failure-IngestInstance-JSON",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ELT].[UpdateIngestDefinition]",
								"storedProcedureParameters": {
									"IngestID": {
										"value": {
											"value": "@pipeline().parameters.IngestID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"IngestStatus": {
										"value": "Failure",
										"type": "String"
									},
									"ReloadFlag": {
										"value": {
											"value": "@pipeline().parameters.ReloadFlag",
											"type": "Expression"
										},
										"type": "Boolean"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "If TXT or any flat-file",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Insert-IngestInstance",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(toLower(pipeline().parameters.DataFormat),'txt'),equals(toLower(pipeline().parameters.DataFormat),'csv'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy-DropZone-RawZone-TXT",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DropZone_Binary",
									"type": "DatasetReference",
									"parameters": {
										"FileSystem": {
											"value": "@pipeline().parameters.SourceFileDropFileSystem",
											"type": "Expression"
										},
										"Folder": {
											"value": "@pipeline().parameters.SourceFileDropFolder",
											"type": "Expression"
										},
										"File": {
											"value": "@pipeline().parameters.SourceFileDropFile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Bronze_Binary",
									"type": "DatasetReference",
									"parameters": {
										"FileSystem": {
											"value": "@pipeline().parameters.DestinationRawFileSystem",
											"type": "Expression"
										},
										"Folder": {
											"value": "@pipeline().parameters.DestinationRawFolder",
											"type": "Expression"
										},
										"File": {
											"value": "@pipeline().parameters.SourceFileDropFile",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update-Success-IngestInstance-TXT",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy-DropZone-RawZone-TXT",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ELT].[UpdateIngestInstance]",
								"storedProcedureParameters": {
									"ADFIngestPipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"IngestStatus": {
										"value": "Success",
										"type": "String"
									},
									"ReloadFlag": {
										"value": {
											"value": "@if(equals(pipeline().parameters.ReloadFlag,true),1,0)",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update-Failure-IngestInstance-TXT",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy-DropZone-RawZone-TXT",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ELT].[UpdateIngestInstance]",
								"storedProcedureParameters": {
									"ADFIngestPipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"IngestStatus": {
										"value": "Failure",
										"type": "String"
									},
									"ReloadFlag": {
										"value": {
											"value": "@if(equals(pipeline().parameters.ReloadFlag,true),1,0)",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update-Success-IngestDefinition-TXT",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Update-Success-IngestInstance-TXT",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ELT].[UpdateIngestDefinition]",
								"storedProcedureParameters": {
									"IngestID": {
										"value": {
											"value": "@pipeline().parameters.IngestID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"IngestStatus": {
										"value": "Success",
										"type": "String"
									},
									"ReloadFlag": {
										"value": {
											"value": "@pipeline().parameters.ReloadFlag",
											"type": "Expression"
										},
										"type": "Boolean"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update-Failure-IngestDefinition-TXT",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Update-Failure-IngestInstance-TXT",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ELT].[UpdateIngestDefinition]",
								"storedProcedureParameters": {
									"IngestID": {
										"value": {
											"value": "@pipeline().parameters.IngestID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"IngestStatus": {
										"value": "Failure",
										"type": "String"
									},
									"ReloadFlag": {
										"value": {
											"value": "@pipeline().parameters.ReloadFlag",
											"type": "Expression"
										},
										"type": "Boolean"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Set-ADFIngestPipelineRunID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "_ADFIngestPipelineRunID",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach-TransformDefinition-L1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get-TransformDefinition-L1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get-TransformDefinition-L1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "InsertTransformInstance_L1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ELT].[InsertTransformInstance_L1]",
								"storedProcedureParameters": {
									"IngestADFPipelineRunID": {
										"value": {
											"value": "@variables('_ADFIngestPipelineRunID')",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"IngestID": {
										"value": {
											"value": "@item().IngestID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"IngestInstanceID": {
										"value": null,
										"type": "Int32"
									},
									"InputFileHeaderFlag": {
										"value": {
											"value": "@item().InputFileHeaderFlag",
											"type": "Expression"
										},
										"type": "Boolean"
									},
									"InputRawFile": {
										"value": {
											"value": "@pipeline().parameters.SourceFileDropFile",
											"type": "Expression"
										},
										"type": "String"
									},
									"InputRawFileDelimiter": {
										"value": {
											"value": "@item().InputRawFileDelimiter",
											"type": "Expression"
										},
										"type": "String"
									},
									"InputRawFileFolder": {
										"value": {
											"value": "@pipeline().parameters.DestinationRawFolder",
											"type": "Expression"
										},
										"type": "String"
									},
									"InputRawFileSystem": {
										"value": {
											"value": "@pipeline().parameters.DestinationRawFileSystem",
											"type": "Expression"
										},
										"type": "String"
									},
									"L1TransformID": {
										"value": {
											"value": "@item().L1TransformID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"LookupColumns": {
										"value": {
											"value": "@item().LookupColumns",
											"type": "Expression"
										},
										"type": "String"
									},
									"NotebookName": {
										"value": {
											"value": "@item().NotebookName",
											"type": "Expression"
										},
										"type": "String"
									},
									"NotebookPath": {
										"value": {
											"value": "@item().NotebookPath",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputEntityName": {
										"value": {
											"value": "@item().OutputEntityName",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputEntityWriteMode": {
										"value": {
											"value": "@item().OutputEntityWriteMode",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputEntityFolder": {
										"value": {
											"value": "@item().OutputEntityFolder",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputEntityFileSystem": {
										"value": {
											"value": "@item().OutputEntityFileSystem",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ForEach-TransformDefinition-L2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get-TransformDefinition-L2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get-TransformDefinition-L2').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Insert-TransformInstance-L2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ELT].[InsertTransformInstance_L2]",
								"storedProcedureParameters": {
									"L2TransformID": {
										"value": {
											"value": "@item().L2TransformID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"L1TransformID": {
										"value": {
											"value": "@item().L1TransformID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"NotebookName": {
										"value": {
											"value": "@item().NotebookName",
											"type": "Expression"
										},
										"type": "String"
									},
									"NotebookPath": {
										"value": {
											"value": "@item().NotebookPath",
											"type": "Expression"
										},
										"type": "String"
									},
									"CustomParameters": {
										"value": {
											"value": "@item().CustomParameters",
											"type": "Expression"
										},
										"type": "String"
									},
									"InputType": {
										"value": {
											"value": "@item().InputType",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataFromTimestamp": {
										"value": {
											"value": "@item().DataFromTimestamp",
											"type": "Expression"
										},
										"type": "Datetimeoffset"
									},
									"DataToTimestamp": {
										"value": {
											"value": "@item().DataToTimestamp",
											"type": "Expression"
										},
										"type": "Datetimeoffset"
									},
									"DataFromNumber": {
										"value": {
											"value": "@item().DataFromNumber",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DataToNumber": {
										"value": {
											"value": "@item().DataToNumber",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"MaxIntervalMinutes": {
										"value": {
											"value": "@item().MaxIntervalMinutes",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"MaxIntervalNumber": {
										"value": {
											"value": "@item().MaxIntervalNumber",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"MaxRetries": {
										"value": {
											"value": "@item().MaxRetries",
											"type": "Expression"
										},
										"type": "Int16"
									},
									"OutputL2CurateFileSystem": {
										"value": {
											"value": "@item().OutputL2CurateFileSystem",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputL2CuratedFolder": {
										"value": {
											"value": "@item().OutputL2CuratedFolder",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputL2CuratedFile": {
										"value": {
											"value": "@item().OutputL2CuratedFile",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputL2CuratedFileDelimiter": {
										"value": {
											"value": "@item().OutputL2CuratedFileDelimiter",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputL2CuratedFileFormat": {
										"value": {
											"value": "@item().OutputL2CuratedFileFormat",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputL2CuratedFileWriteMode": {
										"value": {
											"value": "@item().OutputL2CuratedFileWriteMode",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputEntityName": {
										"value": {
											"value": "@item().OutputEntityName",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputEntityFileSystem": {
										"value": {
											"value": "@item().OutputEntityFileSystem",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputEntityFolder": {
										"value": {
											"value": "@item().OutputEntityFolder",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputEntityWriteMode": {
										"value": {
											"value": "@item().OutputEntityWriteMode",
											"type": "Expression"
										},
										"type": "String"
									},
									"LookupColumns": {
										"value": {
											"value": "@item().LookupColumns",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"IngestID": {
				"type": "int"
			},
			"SourceSystemName": {
				"type": "string"
			},
			"StreamName": {
				"type": "string"
			},
			"SourceFileDropFileSystem": {
				"type": "string"
			},
			"SourceFileDropFolder": {
				"type": "string"
			},
			"SourceFileDropFile": {
				"type": "string"
			},
			"DestinationRawFileSystem": {
				"type": "string"
			},
			"DestinationRawFolder": {
				"type": "string"
			},
			"DestinationRawFile": {
				"type": "string"
			},
			"ReloadFlag": {
				"type": "bool"
			},
			"L1TransformationReqdFlag": {
				"type": "bool"
			},
			"L2TransformationReqdFlag": {
				"type": "bool"
			},
			"DataFormat": {
				"type": "string"
			},
			"SourceFileDelimiter": {
				"type": "string"
			},
			"SourceFileHeaderFlag": {
				"type": "bool"
			},
			"DataMapping": {
				"type": "string"
			}
		},
		"variables": {
			"_DestinationRawFile": {
				"type": "String"
			},
			"_ADFIngestPipelineRunID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "File Drop"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}