pipeline/FileDrop-Master-Test.json
{
	"name": "FileDrop-Master-Test",
	"properties": {
		"description": "Generic pipeline for files dropped into Drop Zone",
		"activities": [
			{
				"name": "Get-IngestDefinition-FileDrop",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set-SourceSystemName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set-StreamName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ELT].[GetIngestDefinition_FileDrop]",
						"storedProcedureParameters": {
							"SourceFile": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceFile",
									"type": "Expression"
								}
							},
							"SourceFolder": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceFolder",
									"type": "Expression"
								}
							},
							"SourceSystemName": {
								"type": "String",
								"value": {
									"value": "@variables('varSourceSystemName')",
									"type": "Expression"
								}
							},
							"StreamName": {
								"type": "String",
								"value": {
									"value": "@variables('varStreamName')",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlDB_Dataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "FileDrop-Ingest",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Get-IngestDefinition-FileDrop",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FileDrop-Ingest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set-SourceSystemName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varSourceSystemName",
					"value": {
						"value": "@{split(pipeline().parameters.SourceFile, '_')[0]}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set-StreamName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varStreamName",
					"value": {
						"value": "@{split(pipeline().parameters.SourceFile, '_')[1]}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SourceFolder": {
				"type": "string",
				"defaultValue": "Manual"
			},
			"SourceFile": {
				"type": "string",
				"defaultValue": "ManualCRM_Customers.csv"
			},
			"SecretName": {
				"type": "string"
			}
		},
		"variables": {
			"varSourceSystemName": {
				"type": "String"
			},
			"varStreamName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Sandbox"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}