pipeline/Generic-L1-Transform-Master.json
{
	"name": "Generic-L1-Transform-Master",
	"properties": {
		"activities": [
			{
				"name": "Get-TransformInstances-L1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 31,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L1]",
						"storedProcedureParameters": {
							"MaxTransformInstance": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.MaxTransformInstance",
									"type": "Expression"
								}
							},
							"SourceSystemName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceSystemName",
									"type": "Expression"
								}
							},
							"StreamName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StreamName",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Transform-L1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get-TransformInstances-L1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get-TransformInstances-L1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check-L1-Instance-Status",
							"description": "Check the current L1 Instance is not running or completed.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L1]",
									"storedProcedureParameters": {
										"L1TransformInstanceId": {
											"type": "Int32",
											"value": {
												"value": "@item().L1TransformInstanceID",
												"type": "Expression"
											}
										},
										"SourceSystemName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.SourceSystemName",
												"type": "Expression"
											}
										},
										"StreamName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.StreamName",
												"type": "Expression"
											}
										}
									},
									"partitionOption": "None"
								}
							}
						},
						{
							"name": "If-L1-Transform-Pipeline",
							"description": "If Lookup returns a row continue",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Check-L1-Instance-Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(equals(activity('Check-L1-Instance-Status').output?.firstRow, null)) ",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Generic-L1Transform",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitOnCompletion": true,
											"parameters": {
												"L1TransformInstanceID": {
													"value": "@item().L1TransformInstanceID",
													"type": "Expression"
												},
												"L1TransformID": {
													"value": "@item().L1TransformID",
													"type": "Expression"
												},
												"IngestID": {
													"value": "@item().IngestID",
													"type": "Expression"
												},
												"NotebookName": {
													"value": "@item().NotebookName",
													"type": "Expression"
												},
												"NotebookPath": {
													"value": "@item().NotebookPath",
													"type": "Expression"
												},
												"InputRawFileSystem": {
													"value": "@item().InputRawFileSystem",
													"type": "Expression"
												},
												"InputRawFileFolder": {
													"value": "@item().InputRawFileFolder",
													"type": "Expression"
												},
												"InputRawFile": {
													"value": "@item().InputRawFile",
													"type": "Expression"
												},
												"InputRawFileDelimiter": {
													"value": "@item().InputRawFileDelimiter",
													"type": "Expression"
												},
												"InputFileHeaderFlag": {
													"value": "@item().InputFileHeaderFlag",
													"type": "Expression"
												},
												"OutputL1CurateFileSystem": {
													"value": "@item().OutputL1CurateFileSystem",
													"type": "Expression"
												},
												"OutputL1CuratedFolder": {
													"value": "@item().OutputL1CuratedFolder",
													"type": "Expression"
												},
												"OutputL1CuratedFile": {
													"value": "@item().OutputL1CuratedFile",
													"type": "Expression"
												},
												"OutputL1CuratedFileDelimiter": {
													"value": "@item().OutputL1CuratedFileDelimiter",
													"type": "Expression"
												},
												"OutputL1CuratedFileFormat": {
													"value": "@item().OutputL1CuratedFileFormat",
													"type": "Expression"
												},
												"OutputL1CuratedFileWriteMode": {
													"value": "@item().OutputL1CuratedFileWriteMode",
													"type": "Expression"
												},
												"OutputEntityStaging": {
													"value": "@item().OutputEntityStaging",
													"type": "Expression"
												},
												"LookupColumns": {
													"value": "@item().LookupColumns",
													"type": "Expression"
												},
												"OutputEntityName": {
													"value": "@item().OutputEntityName",
													"type": "Expression"
												},
												"OutputEntityWriteMode": {
													"value": "@item().OutputEntityWriteMode",
													"type": "Expression"
												},
												"ReRunL1TransformFlag": {
													"value": "@item().ReRunL1TransformFlag",
													"type": "Expression"
												},
												"MaxRetries": {
													"value": "@item().MaxRetries",
													"type": "Expression"
												},
												"DeltaName": {
													"value": "@item().DeltaName",
													"type": "Expression"
												},
												"CustomParameters": {
													"value": "@item().CustomParameters",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceSystemName": {
				"type": "string",
				"defaultValue": "Salesforce - Schools"
			},
			"StreamName": {
				"type": "string",
				"defaultValue": "%"
			},
			"MaxTransformInstance": {
				"type": "string",
				"defaultValue": "15"
			}
		},
		"folder": {
			"name": "Transform Pipelines/L1Transform"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}