pipeline/Generic-L1-Transform.json
{
	"name": "Generic-L1-Transform",
	"properties": {
		"activities": [
			{
				"name": "GenericL1TransformNotebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Update-L1-TransformInstance",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 31,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@concat('/', pipeline().parameters.NotebookPath, '/', pipeline().parameters.NotebookName)",
						"type": "Expression"
					},
					"baseParameters": {
						"NotebookParameters": {
							"value": "@pipeline().parameters.NotebookParameters",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update-L1-TransformInstance-Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GenericL1TransformNotebook",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ELT].[UpdateTransformInstance_L1]",
					"storedProcedureParameters": {
						"IngestCount": {
							"value": null,
							"type": "Int32"
						},
						"L1TransformADFPipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"L1TransformCount": {
							"value": null,
							"type": "Int32"
						},
						"L1TransformInstanceId": {
							"value": {
								"value": "@pipeline().parameters.L1TransformInstanceID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"L1TransformStatus": {
							"value": "Failure",
							"type": "String"
						},
						"MaxRetries": {
							"value": null,
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ControlDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update-L1-TransformInstance-Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GenericL1TransformNotebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ELT].[UpdateTransformInstance_L1]",
					"storedProcedureParameters": {
						"IngestCount": {
							"value": {
								"value": "@activity('GenericL1TransformNotebook').output.runOutput.sourceCount",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"L1TransformADFPipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"L1TransformCount": {
							"value": {
								"value": "@activity('GenericL1TransformNotebook').output.runOutput.l1TransformCount",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"L1TransformInstanceId": {
							"value": {
								"value": "@pipeline().parameters.L1TransformInstanceID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"L1TransformStatus": {
							"value": "Success",
							"type": "String"
						},
						"MaxRetries": {
							"value": null,
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ControlDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update-L1-TransformInstance",
				"description": "Update",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ELT].[UpdateTransformInstance_L1]",
					"storedProcedureParameters": {
						"IngestCount": {
							"value": null,
							"type": "Int32"
						},
						"L1TransformADFPipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"L1TransformCount": {
							"value": null,
							"type": "Int32"
						},
						"L1TransformInstanceId": {
							"value": {
								"value": "@pipeline().parameters.L1TransformInstanceID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"L1TransformStatus": {
							"value": "Running",
							"type": "String"
						},
						"MaxRetries": {
							"value": null,
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ControlDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get-TransformDefinition-L2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Update-L1-TransformInstance-Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ELT].[GetTransformDefinition_L2]",
						"storedProcedureParameters": {
							"WatermarkDate": {
								"type": "DateTime",
								"value": null
							},
							"IngestID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.IngestID",
									"type": "Expression"
								}
							},
							"InputType": {
								"type": "String",
								"value": "Raw"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlDB_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach-TransformDefinition-L2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get-TransformDefinition-L2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get-TransformDefinition-L2').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Insert-TransformInstance-L2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ELT].[InsertTransformInstance_L2]",
								"storedProcedureParameters": {
									"L2TransformID": {
										"value": {
											"value": "@item().L2TransformID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"L1TransformID": {
										"value": {
											"value": "@item().L1TransformID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"NotebookName": {
										"value": {
											"value": "@item().NotebookName",
											"type": "Expression"
										},
										"type": "String"
									},
									"NotebookPath": {
										"value": {
											"value": "@item().NotebookPath",
											"type": "Expression"
										},
										"type": "String"
									},
									"CustomParameters": {
										"value": {
											"value": "@item().CustomParameters",
											"type": "Expression"
										},
										"type": "String"
									},
									"InputType": {
										"value": {
											"value": "@item().InputType",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataFromTimestamp": {
										"value": {
											"value": "@item().DataFromTimestamp",
											"type": "Expression"
										},
										"type": "Datetimeoffset"
									},
									"DataToTimestamp": {
										"value": {
											"value": "@item().DataToTimestamp",
											"type": "Expression"
										},
										"type": "Datetimeoffset"
									},
									"DataFromNumber": {
										"value": {
											"value": "@item().DataFromNumber",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DataToNumber": {
										"value": {
											"value": "@item().DataToNumber",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"MaxIntervalMinutes": {
										"value": {
											"value": "@item().MaxIntervalMinutes",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"MaxIntervalNumber": {
										"value": {
											"value": "@item().MaxIntervalNumber",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"MaxRetries": {
										"value": {
											"value": "@item().MaxRetries",
											"type": "Expression"
										},
										"type": "Int16"
									},
									"OutputL2CurateFileSystem": {
										"value": {
											"value": "@item().OutputL2CurateFileSystem",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputL2CuratedFolder": {
										"value": {
											"value": "@item().OutputL2CuratedFolder",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputL2CuratedFile": {
										"value": {
											"value": "@item().OutputL2CuratedFile",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputL2CuratedFileDelimiter": {
										"value": {
											"value": "@item().OutputL2CuratedFileDelimiter",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputL2CuratedFileFormat": {
										"value": {
											"value": "@item().OutputL2CuratedFileFormat",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputL2CuratedFileWriteMode": {
										"value": {
											"value": "@item().OutputL2CuratedFileWriteMode",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputEntityName": {
										"value": {
											"value": "@item().OutputEntityName",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputEntityFileSystem": {
										"value": {
											"value": "@item().OutputEntityFileSystem",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputEntityFolder": {
										"value": {
											"value": "@item().OutputEntityFolder",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputEntityWriteMode": {
										"value": {
											"value": "@item().OutputEntityWriteMode",
											"type": "Expression"
										},
										"type": "String"
									},
									"LookupColumns": {
										"value": {
											"value": "@item().LookupColumns",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Get-TransformDefinition-L2_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Update-L1-TransformInstance-Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ELT].[GetTransformDefinition_L2]",
						"storedProcedureParameters": {
							"WatermarkDate": {
								"type": "DateTime",
								"value": null
							},
							"IngestID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.IngestID",
									"type": "Expression"
								}
							},
							"InputType": {
								"type": "String",
								"value": "Raw"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlDB_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach-TransformDefinition-L2_copy1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get-TransformDefinition-L2_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get-TransformDefinition-L2').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Insert-TransformInstance-L2_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ELT].[InsertTransformInstance_L2]",
								"storedProcedureParameters": {
									"L2TransformID": {
										"value": {
											"value": "@item().L2TransformID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"L1TransformID": {
										"value": {
											"value": "@item().L1TransformID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"NotebookName": {
										"value": {
											"value": "@item().NotebookName",
											"type": "Expression"
										},
										"type": "String"
									},
									"NotebookPath": {
										"value": {
											"value": "@item().NotebookPath",
											"type": "Expression"
										},
										"type": "String"
									},
									"CustomParameters": {
										"value": {
											"value": "@item().CustomParameters",
											"type": "Expression"
										},
										"type": "String"
									},
									"InputType": {
										"value": {
											"value": "@item().InputType",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataFromTimestamp": {
										"value": {
											"value": "@item().DataFromTimestamp",
											"type": "Expression"
										},
										"type": "Datetimeoffset"
									},
									"DataToTimestamp": {
										"value": {
											"value": "@item().DataToTimestamp",
											"type": "Expression"
										},
										"type": "Datetimeoffset"
									},
									"DataFromNumber": {
										"value": {
											"value": "@item().DataFromNumber",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DataToNumber": {
										"value": {
											"value": "@item().DataToNumber",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"MaxIntervalMinutes": {
										"value": {
											"value": "@item().MaxIntervalMinutes",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"MaxIntervalNumber": {
										"value": {
											"value": "@item().MaxIntervalNumber",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"MaxRetries": {
										"value": {
											"value": "@item().MaxRetries",
											"type": "Expression"
										},
										"type": "Int16"
									},
									"OutputL2CurateFileSystem": {
										"value": {
											"value": "@item().OutputL2CurateFileSystem",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputL2CuratedFolder": {
										"value": {
											"value": "@item().OutputL2CuratedFolder",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputL2CuratedFile": {
										"value": {
											"value": "@item().OutputL2CuratedFile",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputL2CuratedFileDelimiter": {
										"value": {
											"value": "@item().OutputL2CuratedFileDelimiter",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputL2CuratedFileFormat": {
										"value": {
											"value": "@item().OutputL2CuratedFileFormat",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputL2CuratedFileWriteMode": {
										"value": {
											"value": "@item().OutputL2CuratedFileWriteMode",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputEntityName": {
										"value": {
											"value": "@item().OutputEntityName",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputEntityFileSystem": {
										"value": {
											"value": "@item().OutputEntityFileSystem",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputEntityFolder": {
										"value": {
											"value": "@item().OutputEntityFolder",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputEntityWriteMode": {
										"value": {
											"value": "@item().OutputEntityWriteMode",
											"type": "Expression"
										},
										"type": "String"
									},
									"LookupColumns": {
										"value": {
											"value": "@item().LookupColumns",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"L1TransformInstanceID": {
				"type": "int",
				"defaultValue": 188
			},
			"L1TransformID": {
				"type": "string",
				"defaultValue": "446"
			},
			"IngestID": {
				"type": "int",
				"defaultValue": 214
			},
			"NotebookParameters": {
				"type": "string"
			},
			"NotebookName": {
				"type": "string"
			},
			"NotebookPath": {
				"type": "string"
			},
			"MaxRetries": {
				"type": "int"
			}
		},
		"folder": {
			"name": "Transform Pipelines/L1Transform"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}