pipeline/Ingest REST.json
{
	"name": "Ingest REST",
	"properties": {
		"description": "Generic Pipeline to ingest data from any REST API",
		"activities": [
			{
				"name": "Ingest Running",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ADFPipelineRunID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ELT].[InsertIngestInstance]",
					"storedProcedureParameters": {
						"ADFPipelineRunID": {
							"value": {
								"value": "@variables('ADFPipelineRunID')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"DestinationRawFile": {
							"value": {
								"value": "@pipeline().parameters.DestinationRawFile",
								"type": "Expression"
							},
							"type": "String"
						},
						"DestinationRawFileSystem": {
							"value": {
								"value": "@pipeline().parameters.DestinationRawFileSystem",
								"type": "Expression"
							},
							"type": "String"
						},
						"DestinationRawFolder": {
							"value": {
								"value": "@pipeline().parameters.DestinationRawFolder",
								"type": "Expression"
							},
							"type": "String"
						},
						"IngestID": {
							"value": {
								"value": "@pipeline().parameters.IngestID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ReloadFlag": {
							"value": {
								"value": "@pipeline().parameters.ReloadFlag",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"SourceFileDropFile": {
							"value": null,
							"type": "String"
						},
						"SourceFileDropFileSystem": {
							"value": null,
							"type": "String"
						},
						"SourceFileDropFolder": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ControlDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Source To Datalake Bronze Zone",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Ingest Running",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestAnonymous",
						"type": "DatasetReference",
						"parameters": {
							"KeyVaultBaseURL": {
								"value": "@pipeline().parameters.KeyVaultSecretBaseURL",
								"type": "Expression"
							},
							"EntityName": {
								"value": "@pipeline().parameters.EntityName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Bronze_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"FileSystem": {
								"value": "@pipeline().parameters.DestinationRawFileSystem",
								"type": "Expression"
							},
							"Folder": {
								"value": "@pipeline().parameters.DestinationRawFolder",
								"type": "Expression"
							},
							"File": {
								"value": "@pipeline().parameters.DestinationRawFile",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ADFPipelineRunID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ADFPipelineRunID",
					"value": {
						"value": "@{if(empty(pipeline().parameters.ADFPipelineRunID),pipeline().RunId,pipeline().parameters.ADFPipelineRunID)}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Ingest Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Source To Datalake Bronze Zone",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ELT].[UpdateIngestInstance]",
					"storedProcedureParameters": {
						"ADFIngestPipelineRunID": {
							"value": {
								"value": "@variables('ADFPipelineRunID')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"DataFromNumber": {
							"value": null,
							"type": "Int32"
						},
						"DataFromTimestamp": {
							"value": null,
							"type": "DateTime"
						},
						"DataToNumber": {
							"value": null,
							"type": "Int32"
						},
						"DataToTimestamp": {
							"value": null,
							"type": "DateTime"
						},
						"IngestCount": {
							"value": {
								"value": "@activity('Source To Datalake Bronze Zone').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"IngestStatus": {
							"value": "Success",
							"type": "String"
						},
						"ReloadFlag": {
							"value": {
								"value": "@pipeline().parameters.ReloadFlag",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"SourceCount": {
							"value": {
								"value": "@activity('Source To Datalake Bronze Zone').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ControlDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ingest Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Source To Datalake Bronze Zone",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ELT].[UpdateIngestInstance]",
					"storedProcedureParameters": {
						"ADFIngestPipelineRunID": {
							"value": {
								"value": "@variables('ADFPipelineRunID')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"DataFromNumber": {
							"value": null,
							"type": "Int32"
						},
						"DataFromTimestamp": {
							"value": null,
							"type": "DateTime"
						},
						"DataToNumber": {
							"value": null,
							"type": "Int32"
						},
						"DataToTimestamp": {
							"value": null,
							"type": "DateTime"
						},
						"IngestCount": {
							"value": null,
							"type": "Int32"
						},
						"IngestStatus": {
							"value": "Failure",
							"type": "String"
						},
						"ReloadFlag": {
							"value": {
								"value": "@pipeline().parameters.ReloadFlag",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"SourceCount": {
							"value": null,
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ControlDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"IngestID": {
				"type": "int",
				"defaultValue": 7
			},
			"SourceSystemName": {
				"type": "string",
				"defaultValue": "Open Weather API"
			},
			"StreamName": {
				"type": "string",
				"defaultValue": "Daily Weather"
			},
			"Backend": {
				"type": "string",
				"defaultValue": "Rest - Anonymous"
			},
			"EntityName": {
				"type": "string",
				"defaultValue": "http://api.openweathermap.org/data/2.5/weather?q=Sydney&APPID="
			},
			"DeltaName": {
				"type": "string",
				"defaultValue": "1"
			},
			"LastDeltaDate": {
				"type": "string",
				"defaultValue": "1"
			},
			"DataFromTimestamp": {
				"type": "string",
				"defaultValue": "1900-01-01 00:00:00.0000000"
			},
			"DataToTimestamp": {
				"type": "string",
				"defaultValue": "2022-10-05 15:12:47.0000000"
			},
			"LastDeltaNumber": {
				"type": "int",
				"defaultValue": 1
			},
			"DataFromNumber": {
				"type": "int",
				"defaultValue": 1
			},
			"DataToNumber": {
				"type": "int",
				"defaultValue": 1
			},
			"DataFormat": {
				"type": "string",
				"defaultValue": "None"
			},
			"SourceStructure": {
				"type": "string",
				"defaultValue": "None"
			},
			"MaxIntervalMinutes": {
				"type": "int",
				"defaultValue": 1
			},
			"MaxIntervalNumber": {
				"type": "int",
				"defaultValue": 1
			},
			"DataMapping": {
				"type": "string",
				"defaultValue": "None"
			},
			"RunSequence": {
				"type": "int",
				"defaultValue": 100
			},
			"ActiveFlag": {
				"type": "bool",
				"defaultValue": true
			},
			"L1TransformationReqdFlag": {
				"type": "string",
				"defaultValue": "true"
			},
			"L2TransformationReqdFlag": {
				"type": "string",
				"defaultValue": "true"
			},
			"DelayL1TransformationFlag": {
				"type": "bool",
				"defaultValue": true
			},
			"DelayL2TransformationFlag": {
				"type": "bool",
				"defaultValue": true
			},
			"DestinationRawFileSystem": {
				"type": "string",
				"defaultValue": "raw-bronze"
			},
			"DestinationRawFolder": {
				"type": "string",
				"defaultValue": "weather/daily/2022-10"
			},
			"DestinationRawFile": {
				"type": "string",
				"defaultValue": "weather_daily_20221005.json"
			},
			"SourceSQL": {
				"type": "string",
				"defaultValue": "None"
			},
			"StatSQL": {
				"type": "string",
				"defaultValue": "None"
			},
			"ReloadFlag": {
				"type": "bool",
				"defaultValue": true
			},
			"ADFPipelineRunID": {
				"type": "string",
				"defaultValue": "9999"
			},
			"KeyVaultSecretBaseURL": {
				"type": "string",
				"defaultValue": "d7fe1a78534a3f8fa2edce320a06b440"
			}
		},
		"variables": {
			"ADFPipelineRunID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "REST API Pipelines"
		},
		"annotations": []
	}
}