pipeline/SQLServer-Master.json
{
	"name": "SQLServer-Master",
	"properties": {
		"activities": [
			{
				"name": "Get-IngestInstances",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ELT].[GetIngestDefinition]",
						"storedProcedureParameters": {
							"MaxIngestInstance": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.MaxIngestInstance",
									"type": "Expression"
								}
							},
							"SourceSystemName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceSystemName",
									"type": "Expression"
								}
							},
							"StreamName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StreamName",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlDB_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Ingest-Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get-IngestInstances",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get-IngestInstances').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Salesforce-Ingest",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SQLServer-Ingest",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"IngestID": {
										"value": "@item().IngestID",
										"type": "Expression"
									},
									"SourceSystemName": {
										"value": "@item().SourceSystemName",
										"type": "Expression"
									},
									"StreamName": {
										"value": "@item().StreamName",
										"type": "Expression"
									},
									"EntityName": {
										"value": "@item().EntityName",
										"type": "Expression"
									},
									"DataFromTimestamp": {
										"value": "@item().DataFromTimestamp",
										"type": "Expression"
									},
									"DataToTimestamp": {
										"value": "@item().DataToTimestamp",
										"type": "Expression"
									},
									"RunSequence": {
										"value": "@item().RunSequence",
										"type": "Expression"
									},
									"L1TransformationReqdFlag": {
										"value": "@item().L1TransformationReqdFlag",
										"type": "Expression"
									},
									"L2TransformationReqdFlag": {
										"value": "@item().L2TransformationReqdFlag",
										"type": "Expression"
									},
									"DestinationRawFileSystem": {
										"value": "@item().DestinationRawFileSystem",
										"type": "Expression"
									},
									"DestinationRawFolder": {
										"value": "@item().DestinationRawFolder",
										"type": "Expression"
									},
									"DestinationRawFile": {
										"value": "@item().DestinationRawFile",
										"type": "Expression"
									},
									"SourceQuery": {
										"value": "@item().SourceQuery",
										"type": "Expression"
									},
									"StatQuery": {
										"value": "@item().StatQuery",
										"type": "Expression"
									},
									"ReloadFlag": {
										"value": "@item().ReloadFlag",
										"type": "Expression"
									},
									"KeyVault-SQL-ConnString": {
										"value": "@pipeline().parameters.KeyVaultSQLConnString",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Get-L1-Transform",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Ingest-Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L1]",
						"storedProcedureParameters": {
							"DelayL1TransformationFlag": {
								"type": "Int32",
								"value": "0"
							},
							"SourceSystemName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceSystemName",
									"type": "Expression"
								}
							},
							"StreamName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StreamName",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlDB_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "L1-Transform",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get-L1-Transform",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get-L1-Transform').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check-L1-Instance-Status",
							"description": "Check the current L1 Instance is not running or completed.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L1]",
									"storedProcedureParameters": {
										"L1TransformInstanceId": {
											"type": "Int32",
											"value": {
												"value": "@item().L1TransformInstanceID",
												"type": "Expression"
											}
										},
										"SourceSystemName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.SourceSystemName",
												"type": "Expression"
											}
										},
										"StreamName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.StreamName",
												"type": "Expression"
											}
										}
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ControlDB_Dataset",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "If-L1-Transform-Pipeline",
							"description": "If Lookup returns a row continue",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Check-L1-Instance-Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(equals(activity('Check-L1-Instance-Status').output?.firstRow, null)) ",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Generic-L1Transform",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Generic-L1-Transform",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"L1TransformInstanceID": {
													"value": "@item().L1TransformInstanceID",
													"type": "Expression"
												},
												"L1TransformID": {
													"value": "@item().L1TransformID",
													"type": "Expression"
												},
												"IngestID": {
													"value": "@item().IngestID",
													"type": "Expression"
												},
												"MaxRetries": {
													"value": "@item().MaxRetries",
													"type": "Expression"
												},
												"NotebookParameters": {
													"value": "@item().NotebookParameters",
													"type": "Expression"
												},
												"NotebookName": {
													"value": "@item().NotebookName",
													"type": "Expression"
												},
												"NotebookPath": {
													"value": "@item().NotebookPath",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Get-L2-Transform-Raw",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Ingest-Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L2]",
						"storedProcedureParameters": {
							"SourceSystemName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceSystemName",
									"type": "Expression"
								}
							},
							"StreamName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StreamName",
									"type": "Expression"
								}
							},
							"DelayL2TransformationFlag": {
								"type": "Int32",
								"value": "0"
							},
							"InputType": {
								"type": "String",
								"value": "Raw"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlDB_Dataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "L2-Transform-Raw",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get-L2-Transform-Raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get-L2-Transform-Raw').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check-L2-Instance-Status-Raw",
							"description": "Check the current L2 Instance is not running or completed.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L2]",
									"storedProcedureParameters": {
										"L2TransformInstanceId": {
											"type": "Int32",
											"value": {
												"value": "@item().L2TransformInstanceID",
												"type": "Expression"
											}
										},
										"SourceSystemName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.SourceSystemName",
												"type": "Expression"
											}
										},
										"StreamName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.StreamName",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ControlDB_Dataset",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 7,
		"parameters": {
			"SourceSystemName": {
				"type": "string",
				"defaultValue": "Adventureworks"
			},
			"StreamName": {
				"type": "string",
				"defaultValue": "%"
			},
			"MaxIngestInstance": {
				"type": "int",
				"defaultValue": 30
			},
			"KeyVaultSQLConnString": {
				"type": "string",
				"defaultValue": "Adventureworks-SQLServer-ConnString"
			}
		},
		"folder": {
			"name": "SQL Server"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}