DataFactory/pipeline/Generic-L2-Transform-Master.json
{
	"name": "Generic-L2-Transform-Master",
	"properties": {
		"activities": [
			{
				"name": "Get-TransformInstances-L2",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L2]",
						"storedProcedureParameters": {
							"MaxTransformInstance": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.MaxTransformInstance",
									"type": "Expression"
								}
							},
							"SourceSystemName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceSystemName",
									"type": "Expression"
								}
							},
							"StreamName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StreamName",
									"type": "Expression"
								}
							},
							"InputType": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.InputType",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlDB_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Transform-L2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get-TransformInstances-L2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get-TransformInstances-L2').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check-L2-Instance-Status",
							"description": "Check the current L2 Instance is not running or completed.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L2]",
									"storedProcedureParameters": {
										"L2TransformInstanceId": {
											"type": "Int32",
											"value": {
												"value": "@item().L2TransformInstanceID",
												"type": "Expression"
											}
										},
										"SourceSystemName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.SourceSystemName",
												"type": "Expression"
											}
										},
										"StreamName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.StreamName",
												"type": "Expression"
											}
										}
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ControlDB_Dataset",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "If-L2-Transform-Pipeline",
							"description": "If Lookup returns a row continue",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Check-L2-Instance-Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(equals(activity('Check-L2-Instance-Status').output?.firstRow, null)) ",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Generic-L2Transform",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Generic-L2-Transform",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"L2TransformInstanceID": {
													"value": "@item().L2TransformInstanceID",
													"type": "Expression"
												},
												"L2TransformID": {
													"value": "@item().L2TransformID",
													"type": "Expression"
												},
												"IngestID": {
													"value": "@item().IngestID",
													"type": "Expression"
												},
												"L1TransformID": {
													"value": "@item().L1TransformID",
													"type": "Expression"
												},
												"NotebookName": {
													"value": "@item().NotebookName",
													"type": "Expression"
												},
												"NotebookPath": {
													"value": "@item().NotebookPath",
													"type": "Expression"
												},
												"ReRunL2TransformFlag": {
													"value": "@item().ReRunL2TransformFlag",
													"type": "Expression"
												},
												"MaxRetries": {
													"value": "@item().MaxRetries",
													"type": "Expression"
												},
												"NotebookParameters": {
													"value": "@item().NotebookParameters",
													"type": "Expression"
												},
												"DataFromNumber": {
													"value": "@item().DataFromNumber",
													"type": "Expression"
												},
												"DataToNumber": {
													"value": "@item().DataToNumber",
													"type": "Expression"
												},
												"DataFromTimestamp": {
													"value": "@item().DataFromTimestamp",
													"type": "Expression"
												},
												"DataToTimestamp": {
													"value": "@item().DataToTimestamp",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceSystemName": {
				"type": "string",
				"defaultValue": "ManualCRM"
			},
			"StreamName": {
				"type": "string",
				"defaultValue": "Sales"
			},
			"MaxTransformInstance": {
				"type": "string",
				"defaultValue": "10"
			},
			"resourceNameDW": {
				"type": "string",
				"defaultValue": "ag-bip-dev-sql01-dtw01"
			},
			"InputType": {
				"type": "string",
				"defaultValue": "%"
			}
		},
		"folder": {
			"name": "Transform Pipelines/L2Transform"
		},
		"annotations": []
	}
}